//! **************************************************************************
// Written by: Map P.20131013 on Sun Feb 28 16:05:33 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK_LFC" LOCATE = SITE "N7" LEVEL 1;
COMP "PORTC<1>" LOCATE = SITE "G13" LEVEL 1;
COMP "PORTB<5>" LOCATE = SITE "H13" LEVEL 1;
COMP "DBUS<1>" LOCATE = SITE "A9" LEVEL 1;
COMP "PORTC<2>" LOCATE = SITE "E14" LEVEL 1;
COMP "PORTB<6>" LOCATE = SITE "F14" LEVEL 1;
COMP "DBUS<2>" LOCATE = SITE "B10" LEVEL 1;
COMP "PORTC<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "PORTB<7>" LOCATE = SITE "F13" LEVEL 1;
COMP "DBUS<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "PORTD<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "PORTC<4>" LOCATE = SITE "D14" LEVEL 1;
COMP "DBUS<4>" LOCATE = SITE "B11" LEVEL 1;
COMP "PORTD<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "PORTC<5>" LOCATE = SITE "D13" LEVEL 1;
COMP "DBUS<5>" LOCATE = SITE "A11" LEVEL 1;
COMP "PORTD<2>" LOCATE = SITE "A2" LEVEL 1;
COMP "PORTC<6>" LOCATE = SITE "C13" LEVEL 1;
COMP "DBUS<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "PORTD<3>" LOCATE = SITE "B1" LEVEL 1;
COMP "DBUS<7>" LOCATE = SITE "A12" LEVEL 1;
COMP "PORTE<0>" LOCATE = SITE "E2" LEVEL 1;
COMP "PORTD<4>" LOCATE = SITE "C1" LEVEL 1;
COMP "PORTE<1>" LOCATE = SITE "F1" LEVEL 1;
COMP "PORTD<5>" LOCATE = SITE "D1" LEVEL 1;
COMP "PORTE<2>" LOCATE = SITE "F2" LEVEL 1;
COMP "PORTD<6>" LOCATE = SITE "D2" LEVEL 1;
COMP "PORTE<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "PORTD<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "PORTF<0>" LOCATE = SITE "J2" LEVEL 1;
COMP "PORTE<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "PORTF<1>" LOCATE = SITE "K1" LEVEL 1;
COMP "PORTE<5>" LOCATE = SITE "G1" LEVEL 1;
COMP "PORTF<2>" LOCATE = SITE "K2" LEVEL 1;
COMP "PORTE<6>" LOCATE = SITE "G2" LEVEL 1;
COMP "PORTF<3>" LOCATE = SITE "L1" LEVEL 1;
COMP "PORTE<7>" LOCATE = SITE "J1" LEVEL 1;
COMP "DEPP_WRITE" LOCATE = SITE "A7" LEVEL 1;
COMP "PORTF<4>" LOCATE = SITE "L2" LEVEL 1;
COMP "PORTF<5>" LOCATE = SITE "M1" LEVEL 1;
COMP "PORTF<6>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED_0" LOCATE = SITE "N3" LEVEL 1;
COMP "BTN_0" LOCATE = SITE "P8" LEVEL 1;
COMP "BTN_1" LOCATE = SITE "P9" LEVEL 1;
COMP "LED_1" LOCATE = SITE "P3" LEVEL 1;
COMP "LED_2" LOCATE = SITE "N4" LEVEL 1;
COMP "LED_3" LOCATE = SITE "P4" LEVEL 1;
COMP "DEPP_WAIT" LOCATE = SITE "B6" LEVEL 1;
COMP "DEPP_ASTB" LOCATE = SITE "A6" LEVEL 1;
COMP "PORTA<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "PORTA<1>" LOCATE = SITE "N5" LEVEL 1;
COMP "PORTA<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "DEPP_DSTB" LOCATE = SITE "B7" LEVEL 1;
COMP "PORTA<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "PORTB<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "PORTA<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "CLK" LOCATE = SITE "N8" LEVEL 1;
COMP "PORTB<1>" LOCATE = SITE "K13" LEVEL 1;
COMP "PORTA<5>" LOCATE = SITE "N12" LEVEL 1;
COMP "PORTB<2>" LOCATE = SITE "J14" LEVEL 1;
COMP "PORTA<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "PORTB<3>" LOCATE = SITE "J13" LEVEL 1;
COMP "PORTA<7>" LOCATE = SITE "L13" LEVEL 1;
COMP "PORTC<0>" LOCATE = SITE "G14" LEVEL 1;
COMP "PORTB<4>" LOCATE = SITE "H14" LEVEL 1;
COMP "DBUS<0>" LOCATE = SITE "B9" LEVEL 1;
SCHEMATIC END;

